.workday {
    background-color: aliceblue;
}

.sunday {
    background-color: antiquewhite;
}

.saturday {
    background-color: antiquewhite;
}

.fz_avail {
    font-weight: bold;
}

.cell:hover {
    background-color: lightslategray;
}

.cell_hover {
    background-color: lightslategray;
}

.today {
    background-color: lightblue;
}
